:root{
    --font-primary: "Bebas Neue", sans-serif;
    --font-secondary: "Roboto", sans-serif;

    --color-redMarvel: #f50008;
    --color-white: #f0f0f2;
    --color-black: #000000;
    --color-grey: #a1a1a1;
}
