.container{
    width: 100%;
    display: flex;

    &.header{
        height: 12%;

        position: fixed;

        box-shadow: 0px 1px 10px var(--color-redMarvel);
    }
    
    &.loginPage{
        flex-direction: row;
        
        width: 100vw;
        height: 100vh;
    }

    &.form{
        width: 60%;
        height: 400px;
        
        flex-direction: column;

        gap: 2rem;

        margin: 2rem 0 .6rem 0;
        padding: 1.5rem;

        // border-radius: 10px;
        background-color:  #a1a1a110;
    }

    &.input{
        flex-direction: column;
        align-items: start;
        
        gap: .70rem;
    }
}
